/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

div.theme-default-content:not(.custom) {
	margin-left: 30px;
}

table {
	overflow-x: inherit;
}

.sidebar-heading,.sidebar-link {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar-links a.sidebar-link.active {
	font-weight: normal;
	text-shadow: 0px 0px 1px green;
}

#ac762c34-b4a8-4c22-a933-a430543f39ba {
	float: right;
}